<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Staff</title>

    <link rel="stylesheet" type="text/css" href="/css/admin-staff.css">

</head>

<body>
    <div class="admin-main-div">
        <!--Topbar-->
    <div class = "main-logo-div">
        <img src = "/images/sort.svg" class ="logo-sidebar-img"/>
        <img src = "/images/SM-Warehouse-Logo.png" class ="logo-side-img-2"/>
    </div>

    <div class = "main-slied-bar-div">
        <!--Sidebar-->
        <div class = "side-bar-div">
           <div class = "details-img-person">
             <img src = "/images/person.svg" class = "buttenclass" />
           </div>
           <div class = "details-img">
               <!--<Link to = "./admin-details" class = "sidebar-link">  -->
                <a href="./admin-warehouselist.html">
                   <img src = "/images/inventory.svg" class = "buttenclass" />
                </a>
               <!--</Link> -->
           </div>
           <div class = "details-img">
               <img src = "/images/logout.svg" class = "buttenclass" />
           </div>
        </div>

        <!--Staff and Farmer butten-->
        <div class = "staff-main-div">
            <div class = "staffcustomers-div">
                <a href="./admin-staff.html" class = "title">Staff</a>
                <a href="./admin-farmerlist.html" class = "title">Farmers</a>
            </div>

              <div class = "background">
                    <br/>
                    <!--Result-->

                    <div class = "main-div-for-line">
                     <div class = "admin-namediv">
                        <h1 class = "admin-hade1">Name</h1>
                        <h1 class = "admin-hade1">Position</h1>
                        <h1 class = "admin-hade12">Contact</h1>
                     </div>
                        <br/>
                        <!--1-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd </h2>
                            <h2 class = "admin-pargra" >Logistics</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--2-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd EFGH</h2>
                            <h2 class = "admin-pargra" >Logistics</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>


                        <!--3-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd </h2>
                            <h2 class = "admin-pargra" >Watchman</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--4-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd EFGH</h2>
                            <h2 class = "admin-pargra" >Logistics</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--5-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd EFGH</h2>
                            <h2 class = "admin-pargra" >Watchman</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--6-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd </h2>
                            <h2 class = "admin-pargra" >Logistics</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--7-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd EFGH</h2>
                            <h2 class = "admin-pargra" >Watchman</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--8-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd </h2>
                            <h2 class = "admin-pargra" >Logistics</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--9-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd </h2>
                            <h2 class = "admin-pargra" >Watchman</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--10-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd EFGH</h2>
                            <h2 class = "admin-pargra" >Supervisor</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--11-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd </h2>
                            <h2 class = "admin-pargra" >Supervisor</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--12-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd </h2>
                            <h2 class = "admin-pargra" >Logistics</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--13-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd EFGH</h2>
                            <h2 class = "admin-pargra" >Watchman</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>

                        <!--14-->
                        <div class = "admin-main-contan">
                            <h2 class = "admin-pargra" >Abcd </h2>
                            <h2 class = "admin-pargra" >Logistics</h2>
                            <h2 class = "admin-pargra22" >+91 9998700622</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
