<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Profile.css">
  </head>
  <body>




            <div class="container ml-0">
              <h1 id="profile" class="edit-profile-fix">
                <b>Profile</b>
              </h1>
            </div>
            <div class="row">
              <div class="col-3 px-md-5" id="vline">
                <img src="/images/image.png" alt="Avatar" class="img-thumbnail" id="img" />
              </div>
              <div class="col">
                <form onSubmit="/submit">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="removeLine tableHead">
                          <h5 class="data" id="mkt1">
                            <b>Name</b>
                          </h5>
                        </td>
                        <td class="dataContent removeLine">
                          <input type="text" name="" value="" placeholder="Name">
                        </td>
                      </tr>
                      <tr>
                        <td class="tableHead">
                          <h5 class="data">
                            <b>Mobile</b>
                          </h5>
                        </td>
                        <td class="dataContent">
                          <input type="text" name="" value="" placeholder="Mobile">
                        </td>
                      </tr>
                      <tr>
                        <td class="tableHead">
                          <h5 class="data">
                            <b>Email</b>
                          </h5>
                        </td>
                        <td class="dataContent">
                          <input type="text" name="" value="" placeholder="Email">
                        </td>
                      </tr>
                      <tr>
                        <td class="tableHead">
                          <h5 class="data">
                            <b>Address</b>
                          </h5>
                        </td>
                        <td class="dataContent">
                          <input type="text" name="" value="" placeholder="Address">
                        </td>
                      </tr>
                      <tr>
                        <td class="tableHead">
                          <h5 class="data">
                            <b>Due Date</b>
                          </h5>
                        </td>
                        <td class="dataContent">
                          <input type="text" name="" value="" placeholder="Due Date">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="submitButton"><button class="btn btn-outline-light btn p-2 pr-5 pl-5 js-scroll-trigger">Submit</button></div>
                </form>
              </div>
            </div>


  </body>
</html>
