<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer Crop</title>

    <link rel="stylesheet" type="text/css" href="/css/farmer-crop.css">

</head>

<body>
    <div class="admin-main-div">
        <!--Topbar-->
    <div class = "main-logo-div">
        <img src = "/images/sort.svg" class ="logo-sidebar-img"/>
        <img src = "/images/SM-Warehouse-Logo.png" class ="logo-side-img-2"/>
    </div>

    <div class = "main-slied-bar-div">
        <!--Sidebar-->
        <div class = "side-bar-div">
           <div class = "details-img-person">
             <img src = "/images/person.svg" class = "buttenclass" />
           </div>

           <div class = "details-img">
            <!--   <Link to = "./farmer-crops">  -->
                <a href="./farmer-crop.html">
                    <img src = "/images/crop.png" class = "buttenclass" />
                </a>
            <!--   </Link> -->
          </div>

          <div class = "details-img">
            <!--  <Link to = "./farmer-details">  -->
                <a href="./farmer-warehouselist.html">
                  <img src = "/images/warehouselist.svg" class = "buttenclass" />
                </a>
             <!-- </Link> -->
          </div>

          <div class = "details-img">
             <!-- <Link> -->
                  <img src = "/images/payment.svg" class = "buttenclass" />
            <!--  </Link> -->
          </div>

           <div class = "details-img">
               <img src = "/images/logout.svg" class = "buttenclass" />
           </div>
        </div>


        <div class = "background3">
            <!--title-->
            <div>
                <h1 class = "title3">My Crops</h1>
            </div>

            <!--Crops List-->
            <div class = "contenar">
                <!--1-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--2-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--3-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--4-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--5-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--6-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--7-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--8-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--9-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--10-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--11-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--12-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--13-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--14-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--15-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--16-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--17-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--18-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                <!--19-->
                <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

                 <!--20-->
                 <div class = "contan3">
                    <p class = "divimg">
                        <a href="./farmer-crop-popup.html">
                            <img src = "/images/crop.png" class = "crop-img"/>
                        </a>
                    </p>
                    <p class = "par3" >Crop XYZ </p>
                    <p class = "pargraph3" >121 Quintal</p>
                </div>

            </div>
        </div>

</body>
</html>
