<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="finalPayment.css">
</head>
<body>

    <div class="back newheight">
        <div class="jumbotron text-center back text-white" style="padding-bottom: 10px;">
              <h1 class="white"> PAYMENT OPTIONS </h1>
        </div>
        <div class=" container-md mt-3 ">
             <div class="row " >
             <div class="col-sm-4 w-100 ">
             <div class="card mx-auto text-center  border-top-0 border-bottom-0 border-left-0" >
                 <div class="back">
                  <img src='images/credit_score.png' class= "img-fluid h-75 rounded-circle p-5 yup" alt="..." />
                  </div>
                 <div class="card-body   back text-white">
                 <h5 class="text-center card-title font"> Instant</h5>
                   <h5 class="text-center card-title font"> Payment</h5>
                    <p class="mx-auto text-center w-50 card-text  textcolor">Instantly request for space to store your crop into your wareshouse</p>
                    <a type="button" class=" btn  but btn-dark but" data-toggle="modal" data-target="#myModal">Select</a>
                  </div>

             </div>
             </div>

             <div class="col-sm-4 w-100 ">
             <div class="card  text-center  border-top-0 border-bottom-0 border-left-0" >
                 <div class="back ">
                  <img src='images/replay.png' class= " img-fluid rounded-circle h-75 p-4 yup" alt="..." />
                  </div>
                 <div class="card-body   back text-white">
                 <h5 class="text-center card-title font"> Crop</h5>
                   <h5 class="text-center card-title font"> Renewal</h5>
                    <p class="mx-auto text-center w-50 card-text  textcolor ">Instantly request for space to store your crop into your wareshouse</p>
                    <a href="#" class=" btn  but btn-dark  but">Select</a>
                  </div>

             </div>
             </div>

             <div class="col-sm-4 w-100 ">
             <div class="card  text-center border-0" >
                 <div class="back ">
                  <img src='images/credit_score.png' class= " img-fluid h-75 rounded-circle p-5 yup" alt="..." />
                  </div>
                 <div class="card-body   back text-white">
                   <h5 class="text-center card-title font"> Advance</h5>
                   <h5 class="text-center card-title font"> Payment</h5>
                    <p class="mx-auto text-center w-50 card-text textcolor  ">Instantly request for space to store your crop into your wareshouse</p>
                    <a type="button" class=" btn  but btn-dark but" data-toggle="modal" data-target="#myModal1">Select</a>
                  </div>

             </div>
             </div>

             </div>

         </div>

     </div>

<!-- for instant payment-->
     <div class="modal" id="myModal">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content header back ">


            <!--div class="" !-->
                <div class="container p-3 m-3 text-light">
                     <div class="row">
                         <div class="col-sm-2  text-right"><img class= "img-fluid h-75 rounded-circle p-4 yup" src='images/credit_score.png' alt='credit'></img></div>
                         <div class="col-sm-0 box"></div>
                         <div class="col-sm-8">
                             <h1 class="instant1">Instant Payment</h1>
                             <p class="text-secondary h5">Instantly request for space to store your crop into your wareshouse</p>
                        </div>
                        <div class="col-sm-1 ml-5 mt-0" >
                            <button type="button" class="close instant4 text" data-dismiss="modal">&times;</button>
                        </div>

                    </div>
                </div>
               <div class="container-fluid text-light">
                <form class="w-100">
                    <div class="form-group row border-bottom ml-3 mr-5">
                     <label htmlFor="Crop" class="col-sm-2 ml-3 h5">Crop</label>
                     <div class="col-sm-8 ">
                        <input type="text" class="form-control instant2" name="Crop" >
                     </div>
                    </div>

                    <div class="form-group row border-bottom ml-3 mr-5">
                     <label htmlFor="Warehouse" class="col-sm-2 ml-3 h5">Warehouse</label>
                     <div class="col-sm-8">
                        <input type="text" class="form-control instant2" name="Warehouse"  />
                     </div>
                    </div>

                    <div class="form-group row border-bottom ml-3 mr-5">
                     <label htmlFor="Amount" class="col-sm-2 ml-3 h5">Amount</label>
                     <div class="col-sm-8">
                        <input type="number" class="form-control w-25 instant2"  name="Amount"  />
                     </div>
                    </div>


                    <div class="form-group row border-bottom ml-3 mr-5">
                     <label htmlFor="Deposit" class="col-sm-2 ml-3 h5">Deposit Date</label>
                     <div class="col-sm-8">
                        <input type="text" class="form-control-plaintext text-light" value="Today"/>
                     </div>
                    </div>

                    <div class="form-group row border-bottom ml-3 mr-5">
                     <label htmlFor="DueDate" class="col-sm-2 ml-3 h5">Due Date</label>
                     <div class="col-sm-8">
                        <input type="date" class="form-control instant2"name="DueDate"   />
                     </div>
                    </div>

                    <div class="form-group row ml-3 mr-5">
                     <label htmlFor="Condition" class="col-sm-2 ml-3 h5">Condition</label>
                     <div class="col-sm-8">
                        <textarea type="comment" class="form-control w-50 instant2"  name="Condition"></textarea>
                     </div>
                    </div>
                </form>
                </div>
                <div class="row ml-3">
                   <div class="col-sm-2 ml-4"><a type="submit" class="btn-lg btn-dark  but text-decoration-none" data-toggle="modal" data-target="#myModal2">Proceed</a></div>
                   <div class="col-sm-8 text-left"><a type="button"  class="btn-lg btn-dark  text-decoration-none  " data-dismiss="modal">Cancel</a></div>

                </div>


                <!--/div !-->





          </div>
        </div>
      </div>

       <!-- for advance payment -->
      <div class="modal" id="myModal1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content header back ">



            <div class="container p-3 m-3 text-light">
                <div class="row">
                    <div class="col-sm-2  text-right"> <img class= "img-fluid h-75 rounded-circle p-4 yup" src='images/card_membership.png' alt='credit'></img></div>
                    <div class="col-sm-0 box"></div>
                    <div class="col-sm-8">
                        <h1 class="instant1">Advance Payment</h1>
                        <p class="text-secondary h5 ">Reserve space for your crops in advance with just a reasonable amount in deposit now!</p>
                   </div>
                   <div class="col-sm-1 ml-5" >
                    <button type="button" class="close instant4" data-dismiss="modal">&times;</button>
                </div>

               </div>
           </div>
          <div class="container-fluid text-light">
           <form class="w-100">
               <div class="form-group row border-bottom ml-3 mr-5">
                <label htmlFor="Crop" class="col-sm-2 ml-3 h5">Crop</label>
                <div class="col-sm-8 ">
                   <input type="text" class="form-control instant2" name="Crop"></input>
                </div>
               </div>

               <div class="form-group row border-bottom ml-3 mr-5">
                <label htmlFor="Warehouse" class="col-sm-2 ml-3 h5">Warehouse</label>
                <div class="col-sm-8">
                   <input type="text" class="form-control instant2" name="Warehouse"   />
                </div>
               </div>

               <div class="form-group row border-bottom ml-3 mr-5">
                <label htmlFor="Amount" class="col-sm-2 ml-3 h5">Amount</label>
                <div class="col-sm-8">
                   <input type="number" class="form-control w-25 instant2" name="Amount"  />
                </div>
               </div>


               <div class="form-group row border-bottom ml-3 mr-5">
                <label htmlFor="Deposit" class="col-sm-2 ml-3 h5">Deposit Date</label>
                <div class="col-sm-8">
                   <input type="date" class="form-control instant2" name="Deposit"  />
                </div>
               </div>

               <div class="form-group row border-bottom ml-3 mr-5">
                <label htmlFor="DueDate" class="col-sm-2 ml-3 h5">Due Date</label>
                <div class="col-sm-8">
                   <input type="date" class="form-control instant2"name="DueDate"  />
                </div>
               </div>

               <div class="form-group row ml-3 mr-5">
                <label htmlFor="Condition" class="col-sm-2 ml-3 h5">Condition</label>
                <div class="col-sm-8">
                   <textarea type="comment" class="form-control w-50 instant2"  name="Condition"></textarea>
                </div>
               </div>
           </form>
           </div>
           <div class="row ml-3">
              <div class="col-sm-2 ml-4"><a type="button" class="btn-lg btn-dark  but text-decoration-none" data-toggle="modal" data-target="#myModal2">Proceed</a></div>
              <div class="col-sm-8 text-left"><a type="button" class="btn-lg btn-dark  text-decoration-none  " data-dismiss="modal">Cancel</a></div>

           </div>








          </div>
        </div>
      </div>

  <!-- for confirm popUP-->
      <div class="container ">



        <!-- The Modal -->
        <div class="modal" id="myModal2">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content back">

              <!-- Modal Header -->
              <div class="modal-header justify-content-center  mt-5 mb-3 border-0  ">
<i class="fa fa-exclamation-circle img-fluid btn-lg"></i>
                <h4 class="text-center text-light instant3 font-weight-bold" >CONFIRM PAYMENT</h4>
              </div>
              <span class="line ml-5 mr-5"></span>

              <!-- Modal body -->


              <div class="modal-body mt-4">
                 <h4 class="text-light text-center">Are you sure you want to proceed further?</h4 >

                 <div class="row mt-5 mb-4 ">
                    <div class="col-sm-2" ></div>
                    <div class="col-sm-3 mt-2 "><a href="/" class="btn-lg btn-dark but text-decoration-none"  style="font-size: 25px!important;"  >YES</a></div>
                       <div class="col-sm-6 "><a type="button"  class=" ml-5 btn-lg btn-dark  text-decoration-none" style="font-size: 25px!important;"   data-dismiss="modal">Cancel</a></div>
                 </div>

              </div>

            </div>
          </div>
        </div>

      </div>

</body>
</html>
