<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="paymentoptions1.css">
</head>
<body>

    <div class="back newheight">
        <div class="jumbotron text-center back text-white" style="padding-bottom: 10px;" >
              <h1 class="white"> PAYMENT OPTIONS </h1>
        </div>
        <div class=" container-md mt-3 ">
             <div class="row " >
             <div class="col-sm-4 w-100 ">
             <div class="card mx-auto text-center  border-top-0 border-bottom-0 border-left-0" >
                 <div class="back">
                  <img src='../public/images/credit_score.png' class= "img-fluid h-75 rounded-circle p-5" style="background-color: #797979;" alt="..." />
                  </div>
                 <div class="card-body   back text-white">
                 <h5 class="text-center card-title font"> Instant</h5>
                   <h5 class="text-center card-title font"> Payment</h5>
                    <p class="mx-auto text-center w-50 card-text  textcolor">Instantly request for space to store your crop into your wareshouse</p>
                    <a href="#" class=" btn disabled but1" style="background-color: #797979;">Select</a>
                  </div>

             </div>
             </div>

             <div class="col-sm-4 w-100 ">
             <div class="card  text-center  border-top-0 border-bottom-0 border-left-0" >
                 <div class="back ">
                  <img src='../public/images/replay.png' class= " img-fluid rounded-circle h-75 p-4 yup" alt="..." />
                  </div>
                 <div class="card-body   back text-white">
                 <h5 class="text-center card-title font"> Crop</h5>
                   <h5 class="text-center card-title font"> Renewal</h5>
                    <h1 class=""><select class="form-control w-75 ml-5 back text but" required >
                        <option value="" disabled selected hidden>Select Crop</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select></h1>
                      <br/>
                      <h1 ><select class="form-control w-75 ml-5 back text but2" required>
                        <option value="" disabled selected hidden>Select Due Date</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select></h1>
                      <br/>

                    <div class="row mt-3">
                        <div class="col-sm-6"><a type="button" class="btn-lg btn-dark  but text-decoration-none" data-toggle="modal" data-target="#myModal">Proceed</a></div>
                        <div class="col-sm-5 ml-4"><a href="/" class="btn-lg btn-dark  text-decoration-none  ">Cancel</a></div>

                    </div>
                  </div>

             </div>
             </div>

             <div class="col-sm-4 w-100 ">
             <div class="card  text-center border-0" >
                 <div class="back ">
                  <img src='../public/images/credit_score.png' class= " img-fluid h-75 rounded-circle p-5" style="background-color: #797979;" alt="..." />
                  </div>
                 <div class="card-body   back text-white">
                   <h5 class="text-center card-title font"> Advance</h5>
                   <h5 class="text-center card-title font"> Payment</h5>
                    <p class="mx-auto text-center w-50 card-text textcolor  ">Instantly request for space to store your crop into your wareshouse</p>
                    <a   href="#" class=" btn disabled but1 " style="background-color: #797979;" >Select</a>
                  </div>

             </div>
             </div>



             </div>

         </div>


     </div>

     <div class="container">



      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content back">

            <!-- Modal Header -->
            <div class="modal-header justify-content-center  mt-5 mb-3 border-0  ">
<i class="fa fa-exclamation-circle img-fluid btn-lg"></i>
              <h4 class="text-center text-light instant3 font-weight-bold" >CONFIRM PAYMENT</h4>
            </div>
            <span class="line ml-5 mr-5"></span>

            <!-- Modal body -->


            <div class="modal-body mt-4">
               <h4 class="text-light text-center">Are you sure you want to proceed further?</h4 >

               <div class="row mt-5 mb-4 ">
                  <div class="col-sm-2" ></div>
                  <div class="col-sm-3 mt-2 "><a href="/" class="btn-lg btn-dark but text-decoration-none"  style="font-size: 25px!important;"  >YES</a></div>
                     <div class="col-sm-6 "><a type="button"  class=" ml-5 btn-lg btn-dark  text-decoration-none" style="font-size: 25px!important;"   data-dismiss="modal">Cancel</a></div>
               </div>

            </div>

          </div>
        </div>
      </div>

    </div>


    </body>
    </html>


</body>
</html>
