<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/sidePage.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>


    <div class="sideBox">

      <img src="/images/closeButton.png" alt="Close Button" class="close">
      <img src="/images/image.png" alt="User Logo" class="userLogo">
      <p class="userName">Abcd Efgh</p>
      <p class="userDesig">Supervisor</p>

      <table class="table">
        <tbody>
          <tr>
            <td class="leftBox"><img src="/images/image.png" alt="" class="userOptionProfile"></td>
            <td class="rightBox adjust"><p>Profile</p></td>
          </tr>
          <tr>
            <td class="leftBox"><img src="/images/recent_actors-24px.svg" alt="" class="userOption"></td>
            <td class="rightBox"><p>Farmer List</p></td>
          </tr>
          <tr>
            <td class="leftBox"><img src="/images/groups-24px.svg" alt="" class="userOption"></td>
            <td class="rightBox"><p>Staff</p></td>
          </tr>
          <tr>
            <td class="leftBox"><img src="/images/logout.svg" alt="" class="userOption"></td>
            <td class="rightBox"><p>Logout</p></td>
          </tr>
        </tbody>
      </table>


    </div>


  </body>
</html>
