<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/TopBar.css">
  </head>
  <body>


    <div class = "main-logo-div">
        <img src = "/images/sort.svg" class ="logo-side-img"/>
        <img src = "/images/SM-Warehouse-Logo.png" class ="logo-side-img-2"/>
    </div>


  </body>
</html>
