body{
  padding: 0;
  margin: 0;
}

.main-logo-div{
    font-size: 50px;
    color: #FFFFFF;
    background-color: #0e0e0e;
    width: 1519px;
    height: 60px;
    opacity: 0.7;
    height: 70px;
}

.logo-side-img{
    padding-left: 15px;
    width: 50px;
    padding-bottom: 10px;
    height: 40px;
}

.logo-side-img-2{
    width: 150px;
    height: 60px;
    margin-left: 20px;
    padding-top: 5px;
}









.main-slied-bar-div{
    /* border: 2px  solid rgb(0, 98, 160);*/
     display: flex;
     min-height: 680px;
     /* border-right: 2px solid grey; */
     /* width: 85px; */
 }

.side-bar-div{
    /* font-size: 30px; */
    display: inline;
   /* border-right: #707070 1px solid;*/
    padding-left: 20px;
    padding-right: 20px;
    background-color: #353535;
    padding-top: 20px;
}

.buttonclass{
    height: 35px;
    width: 35px;
    margin-left: 5px;
}

.sidebar-link{
    display: inline;
}

.details-img{
  margin-top: 40px;
  margin-bottom: 40px;
}

.person-image{
  width: 45px;
  height: 45px;
  margin-left: 0px;
}


















/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  /* z-index: -1; */


  background-color: #353535;
  text-align: center;
}

/* The sidepanel links */
.sidepanel a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  /* font-size: 25px; */
  /* color: #D3B04F; */
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #D3B04F;
  opacity: 0.5;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn{
  color: #B89538;
  margin-top: 10px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}













html, body {
    min-height: 100% !important;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.sideBox{
  width: 300px;
  height: 100%;
  background-color: #353535;
  text-align: center;
}

.userLogo{
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  width: 200px;
  height: 190px;
}

.userName{
  margin-bottom: 0;
  margin-top: 10px;
  color: #D3B04F;
}

.userDesig{
  margin-bottom: 25px;
  color: grey;
}

.userOptionProfile{
  width: 45px;
}

.table td{
  padding: 0;
  border-top-width: 0;
  height: 40px;
}

.rightBox{
  text-align: left;
  color: #fff;
  padding-top: 7px !important;
  padding-bottom: 5px !important;
}

.leftBox{
  padding-left: 30px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.table{
  width: 250px;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  margin-left: 0px;
}

.userOption{
  height: 30px;
  width: 30px;
}

.adjust{
  padding-top: 10px !important;
}

.close{
  width: 25px;
  height: 25px;
  padding: 2px;
  margin: 5px;
}
