body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Montserrat';
}

.topBar {
	/* font-size: 50px; */
	/* color: #FFFFFF; */
	background-color: #0e0e0e;
	width: 100%;
	height: 70px;
	opacity: 0.7;
	/* position: fixed; */
	/* display: block; */
	/* z-index: 1; */
}

.topBar-storeMostLogo {
	width: 150px;
	height: 60px;
	margin-left: 20px;
	padding-top: 5px;
}

/* Style the button that is used to open the sidepanel */
.topBar-openbtn {
	padding-left: 15px;
	width: 50px;
	padding-bottom: 10px;
	height: 40px;

	/* font-size: 20px; */
	cursor: pointer;
	background-color: #111;
	/* color: white; */
	padding: 10px 15px;
	border: none;
}

.topBar-openbtn:hover {
	background-color: #444;
}

.sideBar {
	/* border: 2px  solid rgb(0, 98, 160);*/
	/* display: flex; */
	/* min-height: 680px; */
	/* border-right: 2px solid grey; */
	/* width: 85px; */
	width: 50px;
	height: -webkit-fill-available;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #353535;
	padding-top: 20px;
	position: absolute;
	/* z-index: -1; */
	/* display: block; */
	border-right: 1px solid grey;
	margin-top: 20px;
}

.buttonclass {
	height: 35px;
	width: 35px;
	margin-left: 5px;
}

.person-image {
	width: 45px;
	height: 45px;
	margin-left: 0px;
}

.sideLogo {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* The sidepanel menu */
.sidepanel {
	height: 100%; /* Specify a height */
	width: 0px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 50px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
	/* z-index: -1; */

	background-color: #353535;
	text-align: center;
}

/* The sidepanel links */
.sidepanel a {
	/* padding: 8px 8px 8px 32px; */
	text-decoration: none;
	/* font-size: 25px; */
	/* color: #D3B04F; */
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
	color: #d3b04f;
	opacity: 0.5;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.closebtn {
	color: #b89538;
	margin-top: 10px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

.sideBox {
	width: 300px;
	height: 100%;
	background-color: #353535;
	text-align: center;
}

.userLogo {
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 40px;
	width: 200px;
	height: 190px;
}

.userName {
	margin-bottom: 0;
	margin-top: 10px;
	color: #d3b04f;
}

.userDesig {
	margin-bottom: 25px;
	color: grey;
}

.userOptionProfile {
	width: 45px;
}

.table td {
	padding: 0;
	border-top-width: 0;
	height: 40px;
}

.rightBox {
	text-align: left;
	color: #fff;
	padding-top: 7px !important;
	padding-bottom: 5px !important;
}

.leftBox {
	padding-left: 30px !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

.table {
	width: 250px;
	margin: auto;
	font-size: 16px;
	font-weight: bold;
	margin-left: 0px;
}

.userOption {
	height: 30px;
	width: 30px;
}

.adjust {
	padding-top: 0;
}

.close {
	width: 25px;
	height: 25px;
	padding: 2px;
	margin: 5px;
}

.staff-main-div {
	border-bottom: #707070 2px solid;
	padding-bottom: 10px;
	background-color: #353535;
	min-width: 1420.5px;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 90px;
}

.staffcustomers-div {
	border-bottom: #707070 2px solid;
	padding-top: 20px;
	padding-bottom: 10px;
	display: flex;
}
.title {
	color: #aaa;
	margin-left: 80px;
	background: transparent;
	border: none;
	border-bottom: 4px solid #aaa;
	padding-bottom: 8px;
	display: inline;
	text-align: left;
	font: normal normal normal 22px 'Montserrat';
	letter-spacing: 0.32px;
	opacity: 1;
	text-decoration: none;
}
.sectionSelected {
	color: white;
	border-bottom: 4px solid white;
}

.background {
	min-width: 1418.5px;
	min-height: 570px;
	/*border: 2px solid black;*/
	background: #353535 0% 0% no-repeat padding-box;
	/* background-attachment: scroll;*/
	/* border-left: #707070 2px solid; */
	padding-top: 10px;
}

.name-2nd-main-div::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
/* .name-2nd-main-div::-webkit-scrollbar-track{
  background: #f1f1f1;
} */
.name-2nd-main-div::-webkit-scrollbar-thumb {
	background: #727272;
}
.name-2nd-main-div::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.background2 {
	min-width: 1419px;
	min-height: 560px;
	/*border: 2px solid black;*/
	background: #353535 0% 0% no-repeat padding-box;
	/* background-attachment: scroll;*/
	border-left: #707070 2px solid;
}

.namemaindiv {
	margin-top: -30px;
	width: 1430px;
}

.name-2nd-main-div {
	border: #707070 2px solid;
	border-radius: 5px;
	margin-left: 25px;
	margin-right: 50px;
	/* margin-top: 25px;*/
	width: 1350px;
	height: 530px;
	overflow: scroll;
}

.admin-name-3rd-main-div {
	border-bottom: #707070 2px solid;
	padding: 10px;
	width: 1550px;
	display: flex;
	flex-direction: row;
	height: 45px;
	/* padding-bottom: 2px; */
	padding-top: 7px;
}

.admin-check {
	height: 5px;
	margin-left: 8px;
	/* display: inline-block;*/
	width: 20px;
	height: 20px;
	border-radius: 3px;
	/*  transition: all 150ms;*/
	margin-top: 15px;
	visibility: hidden;
}

.admin-hader20 {
	margin-left: 25px;
	font: normal normal bold 19px 'Montserrat';
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	width: 200px;
}

.admin-hader21 {
	font: normal normal bold 19px 'Montserrat';
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	width: 170px;
	margin-left: 0px;
}

.admin-hader22 {
	font: normal normal bold 19px 'Montserrat';
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	width: 150px;
}

.admin-hader23 {
	font: normal normal bold 19px 'Montserrat';
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	width: 200px;
	margin-left: 50px;
}

.headerAdjust {
	margin-left: 40px;
}

.admin-contan2 {
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
	height: 35px;
	width: 1570px;
	border-bottom: 2px solid #707070;
	display: flex;
	flex-direction: row;
}

.admin-check2 {
	height: 5px;
	margin-left: 18px;
	/* display: inline-block;*/
	width: 20px;
	height: 20px;
	border-radius: 3px;
	/* transition: all 150ms;*/
}

.admin-par20 {
	font: normal normal normal 15px 'Montserrat';
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	text-decoration: none;
	margin-top: 0px;
	margin-left: 24px;
	width: 200px;
	padding-top: 4px;
}

.admin-par21 {
	font: normal normal normal 15px 'Montserrat';
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	text-decoration: none;
	margin-top: 0px;
	width: 170px;
	margin-left: 0px;
	padding-top: 4px;
}

.admin-par22 {
	font: normal normal normal 15px 'Montserrat';
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	text-decoration: none;
	margin-top: 0px;
	margin-left: 0px;
	width: 50px;
	padding-top: 4px;
	width: 135px;
}

.admin-par23 {
	font: normal normal normal 15px 'Montserrat';
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	text-decoration: none;
	margin-top: 0px;
	width: 200px;
	margin-left: 50px;
	padding-top: 4px;
}

.admin-par24 {
	font: normal normal normal 15px 'Montserrat';
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	text-decoration: none;
	margin-top: 0px;
	width: 700px;
	padding-top: 4px;
}
