body,html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat';
  /* box-sizing: content-box; */
}






.topBar{
    /* font-size: 50px; */
    /* color: #FFFFFF; */
    background-color: #0e0e0e;
    width: 100%;
    height: 70px;
    opacity: 0.7;
    /* position: fixed; */
    /* z-index: 1; */
}

.topBar-storeMostLogo{
    width: 150px;
    height: 60px;
    margin-left: 20px;
    padding-top: 5px;
}

/* Style the button that is used to open the sidepanel */
.topBar-openbtn {
  padding-left: 15px;
  width: 50px;
  padding-bottom: 10px;
  height: 40px;

  /* font-size: 20px; */
  cursor: pointer;
  background-color: #111;
  /* color: white; */
  padding: 10px 15px;
  border: none;
}

.topBar-openbtn:hover {
  background-color: #444;
}














.sideBar{
    /* border: 2px  solid rgb(0, 98, 160);*/
     /* display: flex; */
     /* min-height: 680px; */
     border-right: 1px solid grey;
     /* width: 85px; */
     width: 50px;
     height: 100% !important;
     padding-left: 20px;
     padding-right: 20px;
     background-color: #353535;
     margin-top: 30px;
     position: fixed;
     /* z-index: -1; */
 }

.buttonclass{
    height: 35px;
    width: 35px;
    margin-left: 5px;
}

.person-image{
  width: 45px;
  height: 45px;
  margin-left: 0px;
}

.sideLogo{
  margin-top: 40px;
  margin-bottom: 40px;
}






/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  /* z-index: -1; */


  background-color: #353535;
  text-align: center;
}

/* The sidepanel links */
.sidepanel a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  /* font-size: 25px; */
  /* color: #D3B04F; */
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #D3B04F;
  opacity: 0.5;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn{
  color: #B89538;
  margin-top: 10px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}






.sideBox{
  width: 300px;
  height: 100%;
  background-color: #353535;
  text-align: center;
}

.userLogo{
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  width: 200px;
  height: 190px;
}

.userName{
  margin-bottom: 0;
  margin-top: 10px;
  color: #D3B04F;
}

.userDesig{
  margin-bottom: 25px;
  color: grey;
}

.userOptionProfile{
  width: 45px;
}

.table td{
  padding: 0;
  border-top-width: 0;
  height: 40px;
}

.rightBox{
  text-align: left;
  color: #fff;
  padding-top: 15px !important;
  /* padding-bottom: 5px !important; */
  border-top-width: 0 !important;
  font-weight: bold;
}

.leftBox{
  padding-left: 30px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  border-top-width: 0 !important;
}

.userOption{
  height: 30px;
  width: 30px;
}

.adjust{
  padding-bottom: 5px;
}

.close{
  width: 25px;
  height: 25px;
  padding: 2px;
  margin: 5px;
}

.anotherAdjust{
  padding-bottom: 12px !important;
}

.sideLogo{
  margin-top: 25px;
  margin-bottom: 25px;
}

.cropAdjust1{
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.cropAdjust{
  width: 50px;
  height: 50px;
}













.yup{
background-color: #B89538;
width: 100px;
}

.disableColor{
  background-color: #797979;
}

.yup1{
  width: 144px;
}

.yup2{
  width: 92px;
}
.back{
 background-color: #353535;
}

.but{
color: white!important;
font-family: sans-serif!important;
border: 2px solid #D3B04F !important;
font-size: 16px !important;
padding: 10px 40px;
background-color: #353535;
/* color: #797979; */
}

.butDisable{
  border: 2px solid #797979 !important;
  color: #797979 !important;
}

.textcolor{
opacity: 0.5 !important;
letter-spacing: 0.16px !important;
font-size: 14px !important;
}

.font{
font-size: 25px!important;
line-height: 48px !important;
font-family: sans-serif !important;
letter-spacing: 0.32px!important;
}

.newheight{
height: 90.5% !important;
overflow: hidden !important;
}


/* for dashboard   */

.header{
height:100vh !important;
overflow: hidden !important;
}

.logo{
height: 250px;
padding: 2px 10px;
margin-left: -10px;
}

.pad{
padding-left: 0px !important;

}

.square {
height: 129px;
width: 87px;
background-color: #555;
border: 2px solid white;
position: relative;
top: 35px;
right:  3rem;
display:inline-block

}



/*    instantpayments */
.box{

border-left: 3px solid #707070;
height: 130px;
}


.instant1{
 color: #D3B04F;
 font-size: 45px !important;
 font-weight: bold;
}

.instant2{
background-color: #707070 !important;
color: white!important;
height: 25px;
}

.instant3{
font-family: "Montserrat";
font-size:26px!important;
}

.line{
border-bottom: 2px solid #707070;
display: block;

}

.row{
  flex-wrap: nowrap;
}

.white{
  font-weight: bold;
}

.rowAdjust{
  height: 39px;
}

.rowAdjust2{
  height: 40px;
}

.yupAdjust{
  width: 90px;
  height: 90px;
}

.imageAdjust{
  width: 145px;
}
