body,html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat';
  background-color: #353535;
}

.topBar{
    /* font-size: 50px; */
    /* color: #FFFFFF; */
    background-color: #0e0e0e;
    width: 100%;
    height: 70px;
    opacity: 0.7;
    /* position: fixed; */
    /* display: block; */
    /* z-index: 1; */
}

.topBar-storeMostLogo{
    width: 150px;
    height: 60px;
    margin-left: 20px;
    padding-top: 5px;
}

/* Style the button that is used to open the sidepanel */
.topBar-openbtn {
  padding-left: 15px;
  width: 50px;
  padding-bottom: 10px;
  height: 40px;

  /* font-size: 20px; */
  cursor: pointer;
  background-color: #111;
  /* color: white; */
  padding: 10px 15px;
  border: none;
}

.topBar-openbtn:hover {
  background-color: #444;
}











.sideBar{
    /* border: 2px  solid rgb(0, 98, 160);*/
     /* display: flex; */
     /* min-height: 680px; */
     /* border-right: 2px solid grey; */
     /* width: 85px; */
     width: 50px;
     height: 100%;
     padding-left: 20px;
     padding-right: 20px;
     background-color: #353535;
     padding-top: 20px;
     position: absolute;
     /* z-index: -1; */
     /* display: block; */
     /* border-right: 1px solid grey; */
 }

.buttonclass{
    height: 35px;
    width: 35px;
    margin-left: 5px;
}

.person-image{
  width: 45px;
  height: 45px;
  margin-left: 0px;
}

.sideLogo{
  margin-top: 40px;
  margin-bottom: 40px;
}






/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  /* z-index: -1; */


  background-color: #353535;
  text-align: center;
}

/* The sidepanel links */
.sidepanel a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  /* font-size: 25px; */
  /* color: #D3B04F; */
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #D3B04F;
  opacity: 0.5;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn{
  color: #B89538;
  margin-top: 10px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}






.sideBox{
  width: 300px;
  height: 100%;
  background-color: #353535;
  text-align: center;
}

.userLogo{
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  width: 200px;
  height: 190px;
}

.userName{
  margin-bottom: 0;
  margin-top: 10px;
  color: #D3B04F;
}

.userDesig{
  margin-bottom: 25px;
  color: grey;
}

.userOptionProfile{
  width: 45px;
}

.table td{
  padding: 0;
  border-top-width: 0;
  height: 40px;
}

.rightBox{
  text-align: left;
  color: #fff;
  padding-top: 7px !important;
  padding-bottom: 5px !important;
}

.leftBox{
  padding-left: 30px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.table{
  width: 250px;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
  margin-left: 0px;
}

.userOption{
  height: 30px;
  width: 30px;
}

.adjust{
  padding-top: 0;
}

.close{
  width: 25px;
  height: 25px;
  padding: 2px;
  margin: 5px;
}

.sideLogo{
  margin-top: 25px;
  margin-bottom: 25px;
}

.cropAdjust1{
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.cropAdjust{
  width: 50px;
  height: 50px;
}























.mainBackground{
    /* min-width: 1452px; */
    /* min-height: 750px; */
    width: 100%;
    height: auto;
    /* border-left: 2px solid #707070; */
    background: #353535;
   /* background-attachment: scroll;*/
   /* position: absolute; */
   /* top: 200px; */
   /* left: 105px; */
   /* display: inline; */
   /* float: right; */
}
.input{
    margin-top: 2%;
    /*top: 1300px;*/
    margin-left: 1.8%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4.5px;
    width: 550px;
    height: 38px;
}

.admin-name-main-conta{
    /* margin-left: 6%; */
    /* margin-top: 100px; */
    /* padding-top: 100px; */
    margin-bottom: 40px;
    height: 125px;
    width: 1390px;
   /* border: 2px  solid rgb(221, 77, 77);*/
    border-bottom: #707070 1px solid;
    margin-left: 20px;
}

.wareList{
    padding-top: 80px;
    border-left: 2px solid #707070;
    margin-left: 90px;
    width: 100%;
    height: 100%;
}
.btntype {
	font-size: 16px;
	padding: 5px 20px 5px 20px;
	border: 2px solid #d3b04f;
	color: #fff;
	border-radius: 3px;
	transition: all 250ms ease-in-out;
	cursor: pointer;
	margin: 10px;
	margin-right: 0px;
}


.btnsort {
    font-size: 16px;
    padding: 8px 25px;
    border: 0;
    background-color: #D3B04F;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    margin: 10px;
  }

.filterimg{
    width: 15px;
    height: 15px;
    padding-left: 4px;
}

.searchdiv{
    display: inline;
    margin-left: 100px;
}
.function-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buttendiv{
    display: inline;
    padding-left: 10px;
    margin-right: 20px;
}

.warehouse-img{
    display: inline;
    height: 400px;
    width: 400px;
    padding-left: 135px;
    padding-bottom: 85px;
    padding-top: 20px;
    margin: 10px;
    background: #797979 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 0.5;
}

/**/
.admin-warehouse-details-div{
    display: flex;
    flex-direction: row;
    margin-top: -50px;
}

.admin-flex-1st-div{
    padding-left: 170px;
    width: 450px;
    padding-top: 0px;
}

.admin-flex-2nd-div{
    padding-left: 150px;
    width: 250px;
    color: white;
    font: normal normal normal 20px/32px Trueno;
    letter-spacing: 0px;
    opacity: 1;
    padding-top: 10px;
}

.admin-flex-3rd-div{
  padding-top: 10px;
  padding-left: 120px;
}

.admin-link{
    color: #D3B04F;
    margin-top: 15px;
    /* font: normal normal bold 35px Trueno; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* letter-spacing: 0px; */
    cursor: pointer;
    text-decoration: none;
    font-size: 26px;
}

.admin-occupied{
    /* font: normal normal normal 18px Trueno; */
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    color: #FFFFFF;
    /* text-transform: uppercase; */
    /* opacity: 0.5; */
    margin-left: 0px;
    margin-top: 20px;
}

.admin-addr{
    font: normal normal normal 17px 'Montserrat';
    letter-spacing: 0px;
    color: #D3B04F;
    margin-top: 12px;
}

.admin-addr2{
    color: #FFFFFF;
    font: normal normal normal 15px 'Montserrat';
    letter-spacing: 0px;
    opacity: 1;
}

.secondaryDiv{
  width: 100%;
  height: 100%;
}
