body{
  background: #353535;
}

.storeLogo{
  width: 180px;
  height: 180px;
  margin-left: 30px;
}

.colorChange{
  color: #D3B04F;
}

.backButton{
  width: 35px;
  /* display: inline-block; */
  margin-bottom: 60px;
  padding: 10px;
}

.heading{
  display: inline;
  font-size: 40px;
  margin-left: 320px;
  position: relative;
  bottom: 80px;
  color: #fff;
}

.wareBox{
  border: 3px solid grey;
  border-radius: 10px;
  width: 450px;
  height: 320px;
  text-align: left;
  color: #fff;
  width: 442px;
height: 330px;
/* margin-left: 20px; */
}

.boxLeft{
  padding-left: 25px;
  width: 90px;
  text-decoration: underline;
}

.addressBox{
  /* text-overflow: ellipsis; */
  height: 67px !important;
  word-wrap: break-word;
  overflow-y: hidden !important;
  /* scrollbar-width: thin; */
  /* box-sizing: content-box; */
}

.addressHead{
  padding-bottom: 38px;
}

.boxHead{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* grid-auto-rows: 100px; */
  margin-left: 40px;
  grid-row-gap: 50px;
  /* grid-column-gap: 0; */
}
