body {
  background-color: #353535;
  font-family: sans-serif;
  color: white;
}
.navbar {
  background-color: #353535;
  /* margin-left: -20px;
  margin-right: -20px; */
  margin-bottom: 40px;
}

/* .first {
  margin-top: 1px;
}

.box {
  top: 15px;
  position: relative;
  height: 150px;
  width: 150px;
  margin-top: 10px;
  background-color: antiquewhite;
  display: inline-block;
  margin-left: 15px;
} */

.img-thumbnail {
  top: 259px;
  left: 150px;
  width: 228px;
  height: 228px;
  background: #d3b04f 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
}
.img-thumbnail::before,
.img-thumbnail::after {
  position: relative;
  color: white;
  height: 3000px;
}

.data {
  margin: 1px;
  position: relative;
  display: inline-block;
  color: white;
}

.colData {
  border-left: 1px solid grey;
  margin-left: -1px;
}

.dataContent {
  color: white;
  opacity: 0.5;
}
/* .mkt {
  position: relative;
  top: 10px;
} */
/* .col-2 {
  position: relative;
  display: block;
  float: right;

  /* top: 100px; */
/* } */
