.yup{
  background-color: #B89538;
}

.but{
color: white !important;
border: 2px solid #D3B04F !important;
font-size: 20px !important;
}

.textcolor{
  opacity: 0.5 !important;
  letter-spacing: 0.16px !important;
}

.font{
font-size: 32px!important;
line-height: 48px !important;
font-family: sans-serif !important;
letter-spacing: 0.32px!important;

}

.newheight{
height:100%!important;
overflow: hidden !important;
}

