/*.lst-div-back{
    background-color: #D3B04F;
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}*/

html,body{
  font-family: 'Montserrat', sans-serif;
}

.farmer-maincon{
    height: 500px;
    width: 1360px;
    background: #353535 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin-left: 55px;
    margin-top: 80px;
    /*align-items: right;*/
    padding: 25px;
    padding-left: 40px;
    z-index: 3;
    padding-top: 10px;
}

.cros-class{
    text-decoration: none;
    font-size: 30px;
    color: #D3B04F;
    margin-left: 1330px;
    margin-top: -8px;
}

.contaner{
    display: flex;
    margin-top: -12px;
}

.img-open-div{
    display: inline;
    /* padding: 6px; */
    border-radius: 50%;
    background-color: #B89538;
    width: 150px;
    height: 150px;
    margin-left: 10px;
}

.crop-open-img{
    width: 130px;
    height: 130px;
    /* padding-left: 10px; */
    margin-left: 18px;
    margin-top: 18px;
    padding-right: 25px;
    border-right: 2px solid #4f4f4f;
}

.div-img-3{
    display: inline;
    margin-left: 25px;
    background: transparent 0% 0% no-repeat padding-box;
    /* border-left: 2px  solid #707070; */
    padding-left: 25px;
}

.cropxyz{
    text-align: left;
    /* font : normal normal bold 40px/32px; */
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 0px;
    color: #D3B04F;
    opacity: 1;
    margin-top: 30px;
    margin-bottom: 0px;
}

.divbutten{
   /* position: center;
    //display: inline;*/
    border: 1px solid #D3B04F;
    opacity: 1;
    width: 75px;
    height: 25px;
    padding-top: 8px;
    padding-left: 25px;
    color:white;
    text-decoration: none;
    margin: 0;
}

.farmer-divhadd{
    /*border: 1px solid #D3B04F;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    border-bottom: #4f4f4f 2px solid;
    display: flex;
    flex-direction: row;
    height: 40px;
}

.farmer-hadd1{
    margin-left: 10px;
    text-align: left;
    /* font: normal normal 600 24px/30px; */
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 200px;
    padding-top: 6px;
    font-size: 19px;
}

.farmer-hadd2{
    text-align: left;
    font: normal normal normal 20px/24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.5;
    width: 1100px;
    margin: 0;
    padding-top: 8px;
}

.close{
    width: 25px;
    height: 25px;
    padding: 2px;
    margin: 5px;
    margin-right: 0px;
    text-align: right;
    margin-left: auto;
}

h3{
  margin: 0;
}

.someEdit{
  height: 90px;
  border-bottom-width: 0;
}

.renewButton{
  /* padding: 20px; */
  text-align: center;
  /* padding-top: 40px; */
  /* background-color: transparent; */
  /* text-align: center; */
  background-color: #353535;
  border: 1px solid #D3B04F;
  padding: 10px 40px;
  color: white;
  font-size: 15px;
}
.editDescrip{
  width: 850px;
}
