<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crops Popup Page</title>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->


    <link rel="stylesheet" type="text/css" href="/css/farmer-crop-popup.css">
    <link href="./farmer-crop.html">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap" rel="stylesheet">

</head>
<body>
    <div>
     <div class = "farmer-maincon">

        <img src="/images/closeButton.png" alt="Close Button" class="close">

         <div class = "contaner">
         <!-- Img and name -->
             <div class = "img-open-div">
                  <img src ="/images/crop.png" class ="crop-open-img"/>
             </div>

             <div class = "div-img-3">
                 <h1 class = "cropxyz">Crop XYZ</h1><br/>
                 <!-- <p class = "divbutten">Renew</p> -->
                 <button type="button" name="button" class="renewButton">Renew</button>
             </div>
         </div>

         <!-- Details -->
         <div style="margin-top: 5px;">
             <br/>
             <div class = "farmer-divhadd">
                 <h3 class = "farmer-hadd1">Warehouse </h3>
                 <p class = "farmer-hadd2">Warehouse 3</p>
             </div>
             <div class = "farmer-divhadd">
                 <h3 class = "farmer-hadd1">Amount</h3>
                 <p class = "farmer-hadd2">21 tons</p>
             </div>
             <div class = "farmer-divhadd">
                 <h3 class = "farmer-hadd1">Deposit Date</h3>
                 <p class = "farmer-hadd2">21/11/2020</p>
             </div>
             <div class = "farmer-divhadd">
                 <h3 class = "farmer-hadd1">Due Date</h3>
                 <p class = "farmer-hadd2">01/04/2021</p>
             </div>
             <div class = "farmer-divhadd someEdit">
                 <h3 class = "farmer-hadd1">Description</h3>
                 <p class = "farmer-hadd2 editDescrip">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum </p>
             </div>
         </div>
       </div>
    </div>
</body>
</html>
