<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crops Popup Page</title>

    <link rel="stylesheet" type="text/css" href="/css/farmer-crop-popup.css">

</head>
<body>
    <div>
     <div class = "farmer-maincon">
         <div>
             <a href="./farmer-crop.html" class = "cros-class">
                X
             </a>
         </div>
         <div class = "contaner">
         <!-- Img and name -->
             <div class = "img-open-div">
                  <img src ="/images/crop.png" class ="crop-open-img"/>
             </div>

             <div class = "div-img-3">
                 <h1 class = "cropxyz">Crop XYZ</h1><br/>
                 <p class = "divbutten">ReNew</p>
             </div>
         </div>

         <!-- Details -->
         <div>
             <br/>
             <div class = "farmer-divhadd">
                 <div class = "farmer-hadd1">Warehouse </div>
                 <div class = "farmer-hadd2">Warehouse 3</div>
             </div>
             <div class = "farmer-divhadd">
                 <div class = "farmer-hadd1">Amount</div>
                 <div class = "farmer-hadd2">21 tons</div>
             </div>
             <div class = "farmer-divhadd">
                 <div class = "farmer-hadd1">Deposit Date</div>
                 <div class = "farmer-hadd2">21/11/2020</div>
             </div>
             <div class = "farmer-divhadd">
                 <div class = "farmer-hadd1">Due Date</div>
                 <div class = "farmer-hadd2">01/04/2021</div>
             </div>
             <div class = "farmer-divhadd">
                 <div class = "farmer-hadd1">Condition</div>
                 <div class = "farmer-hadd2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum </div>
             </div>
         </div>
       </div>
    </div>
</body>
</html>
