<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="Codeconvey" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/HomePage.css">
</head>
<body>
  <div class="header">
    <header>
      <nav class="navbar navbar-style">
        <div class="container-fluid ml-5 mr-5">
          <div class="navbar-header">
            <a><img class="logo img-responsive" src="/images/SM-Warehouse-Logo@2x.png"></img></a>
          </div>
          <ul class="nav navbar-right mr-5 text-light mb-1">
            <li class="nav-item"><a  class="nav-link but" href="">Contact</a></li>
            <li class="nav-item"><a  class="nav-link but" href="">About Us</a></li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid mt-5">
        <div class="row ml-5 mr-5 mb-5 mt-0">
          <div class="col col-sm-6 extraPadding">
            <label for="modal-toggle"><img id="admin" class="d-inline img-fluid nominee" style="cursor: pointer;"
                src="/images/machine.svg"></img>
              <h1 class="square"></h1>
            </label>
          </div>
          <div class="col col-sm-5 text-light ml-5 ">
            <span class="font-weight-bold d3">we<span class="square1 ml-4"></span><span class="square2 ml-1"></span><span class="square4 ml-4"></span><span class="square7 ml-4"></span></span><br/>
            <span class="font-weight-bold d3 mt-0 ml-4">value<span class="square5 ml-4"></span></span>
            <br/>
            <span class="font-weight-bold d3">your<span class="square3 ml-1"></span></span>
            <br/>
            <span class="font-weight-bold d3 mt-0 ml-4">resources<span class="square6 ml-1"></span></span>
          </div>
        </div>
      </div>
      <div class="container-fluid ml-5 ">
        <div class="row text-center align-self-start ml-5 ">
          <div class="col-sm-2 bor">
            <label id="farmer" type="button" class="d  text-light font-weight-bold pt-1 nominee"
              for="modal-toggle">Continue as Farmer</label>
            <div class="rt-container">
              <div class="col-rt-12">
                <div class="Scriptcontent">
                  <input id="modal-toggle" type="checkbox" />
                  <label class="modal-backdrop" for="modal-toggle"></label>
                  <div class="modal-content container">
                    <div class="tabs">
                      <input
                        class="radio"
                        id="tab-1"
                        name="tabs-name"
                        type="radio"
                        checked
                      />
                      <label for="tab-1" class="table"><span>SIGN IN</span></label>
                      <div class="tabs-content">
                        <div class="login_socnet">
                          <center>
                            <button class="google-button">
                              <img
                                src="/images/google.svg"
                                style="
                                  background-color: white;
                                  padding: 5px;
                                  border-radius: 100px;
                                  margin-right: 10px;
                                "
                              />Sign in with Google
                            </button>
                          </center>
                        </div>
                        <div
                          style="text-align: center; color: white; padding-bottom: 5%"
                        >
                          <hr
                            style="
                              float: left;
                              width: 45%;
                              border-color: rgb(117, 119, 117);
                            "
                          />
                          or
                          <hr
                            style="
                              float: right;
                              width: 45%;
                              border-color: rgb(117, 119, 117);
                            "
                          />
                        </div>
                        <form action="" method="POST" id="myForm">
                          <label style="display: flex; float: left; color: white">Email</label>
                          <input type="text" name="email" placeholder="viratkohli2gmail.com" required
                            style="background-color: #464545" />

                          <label style="display: flex; float: left; color: white"
                            >Password</label
                          >
                          <input
                            type="password"
                            name="password"
                            placeholder="Enter Password"
                            required
                            style="background-color: #464545"
                          />

                          <input type="submit" value="SIGN IN" />
                        </form>
                        <div style="color: white; margin: 4% 0% 2% 0%">
                          New to StoreMost?
                        </div>
                        <label for="tab-2" class="sign-up-link">SIGN UP</label>
                      </div>
                      <input class="radio" id="tab-2" name="tabs-name" type="radio" />
                      <label for="tab-2" class="table"><span>SIGN UP</span></label>
                      <div class="tabs-content">
                        <form action="" method="POST">
                          <label
                            style="
                              display: flex;
                              float: left;
                              color: white;
                              margin-top: 1%;
                            ">First Name</label>
                          <input type="name" placeholder="Virat" required style="background-color: #464545" />
                          <label style="
                              display: flex;
                              float: left;
                              color: white;
                              margin-top: 1%;
                            ">Last Name</label>
                          <input type="name" placeholder="Kohli" required style="background-color: #464545" />

                          <label style="display: flex; float: left; color: white"
                            >Email</label
                          >
                          <input
                            type="email"
                            placeholder="viratkohli2gmail.com"
                            required
                            style="background-color: #464545"
                          />

                          <label style="display: flex; float: left; color: white"
                            >Mobile Number</label
                          >
                          <input
                            type="number"
                            min="1000000000"
                            max="9999999999"
                            placeholder="xxxxx xxxxx"
                            required
                            style="background-color: #464545"
                          />

                          <label style="display: flex; float: left; color: white"
                            >Password</label
                          >
                          <input
                            type="password"
                            placeholder="Enter Password"
                            required
                            style="background-color: #464545; margin-bottom: 0"
                          />
                          <input
                            type="password"
                            placeholder="Confirm Password"
                            required
                            style="background-color: #464545"
                          />
                          <input type="submit" value="SIGN UP" />
                        </form>
                        <div style="color: white; margin: 0% 0% 2% 0%">
                          Already have an Account?
                        </div>
                        <label for="tab-1" class="sign-up-link">SIGN IN</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 align-self-center bor">
            <label id="supervisor" type="button" class="d  text-light font-weight-bold pt-1 nominee"
              for="modal-toggle">Log in as Supervisor</label>
          </div>
          <div class="col-sm-6 text-center pt-2">
            <a href="www.google.com" class="text-light text-decoration-none">Actively operating over 21 warehouses</a>
          </div>
        </div>
        <div class="m-3">
          <a href="<%= data.URL %>/warehouse/list" class=" d1 m-5">View NearBy Warehouses</a>
        </div>
      </div>
  </header>
  <script src="https://use.fontawesome.com/7fcc5972f1.js"></script>
  <script src="./script.js"></script>
  </div>


  <script type="text/javascript">


    document.querySelectorAll('.nominee').forEach(item => {
      item.addEventListener('click', event => {

        let routeName = event.target.id;

        document.getElementById("myForm").action = "<%= data.URL %>/" + routeName + "/login"
      })
    })


  </script>
</body>
</html>
