.background2{
    min-width: 1480px;
    min-height: 684px;
    /*border: 2px solid black;*/
    background: #353535 0% 0% no-repeat padding-box;
   /* background-attachment: scroll;*/
}

.logo2{
    color: white;
    padding-bottom: 20px;
    width: 1400px;
}

.title2{
    color: #FFFFFF;
    margin-left: 75px;
    display: inline;
    font-size: 32px;
    text-align: left;
    font: normal normal normal 32px/32px DM Serif Text;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}

.admin-hader20{
    margin-left: -100px;
    font: normal normal bold 24px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;    
    width: 100px;
}

.admin-hader21{
    font: normal normal bold 24px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;    
    width: 150px;
    margin-left: 60px;
}

.admin-hader22{
    font: normal normal bold 24px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;    
    width: 150px;
}

.admin-hader23{
    font: normal normal bold 24px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;    
    width: 200px;
    margin-left: -10px;
}

.admin-par20{
    font: normal normal normal 24px/29px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    margin-top: 0px;
    margin-left: -110px;
    width: 200PX;
}

.admin-par21{
     font: normal normal normal 24px/29px Roboto;
     letter-spacing: 0px;
     color: #FFFFFF;
     opacity: 1;
     text-decoration: none;
     margin-top: 0px;
     width: 150PX;
     margin-left: -40px;
 }

 .admin-par22{
     font: normal normal normal 24px/29px Roboto;
     letter-spacing: 0px;
     color: #FFFFFF;
     opacity: 1;
     text-decoration: none;
     margin-top: 0px;
     width: 50px;
 }

 .admin-par23{
     font: normal normal normal 24px/29px Roboto;
     letter-spacing: 0px;
     color: #FFFFFF;
     opacity: 1;
     text-decoration: none;
     margin-top: 0px;
     width: 200px;
     margin-left: 50px;
 }

 .admin-par24{
     font: normal normal normal 24px/29px Roboto;
     letter-spacing: 0px;
     color: #FFFFFF;
     opacity: 1;
     text-decoration: none;
     margin-top: 0px;
     width: 700px;
 }

.admin-contan2{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    height: 35px;
    width: 1550px;
    border-bottom: 2px  solid #707070;
    display: flex;
    flex-direction: row;
}

.admin-check{
    height: 5px;
    margin-left: -110px;
   /* display: inline-block;*/
    width: 20px;
    height: 20px;
    border-radius: 3px;
    /*  transition: all 150ms;*/
    margin-top: 20px;
}

.admin-check2{
    height: 5px;
    margin-left: -115px;
   /* display: inline-block;*/
    width: 20px;
    height: 20px;
    border-radius: 3px;
   /* transition: all 150ms;*/
}

.namemaindiv{
    margin-top: -30px;
    width: 1430px;
}

.name-2nd-main-div{
        border: #707070 2px solid;
        border-radius: 5px;
        margin-left: 25px;
        margin-right: 50px;
       /* margin-top: 25px;*/
        width: 1350px;
        height: 530px;
        overflow: scroll;
}

.admin-name-3rd-main-div{
    border-bottom: #707070 2px solid;
    padding: 10px;
    width: 1550px;
    display: flex;
    flex-direction: row;
}